@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  background-image: url('./Asest/pexels-pixabay-209831.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* This will prevent the background from scrolling */
}

.container {
  margin-top: 50px;

}

.card {
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #cdd3d39c;
}

.card-body {
   width: 100%;
  padding: 20px;
}

.custom-button {
  width: 100%;
  font-weight: 600;
  background-color: #053036bf;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.6s;
}

.custom-button:hover {
  background-color: #1c262d;
  scale: 1.05;
}

